max-sessions: 1
iterations: 100
excluded-dates:
  - 2022-6-10 # Busy that day
preferences:
  - venue: IMAX
  - venue: Boutique Cinema
    time-bucket: morning
    day-bucket: weekend
  - venue: Boutique Cinema
    time-bucket: afternoon
    day-bucket: weekend
booked-sessions:
  - http://example.booking.link
