[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
bs4 = "*"
requests = "*"
requests-cache = "*"
python-dateutil = "*"
selenium = "*"
webdriver-manager = "*"
ics = "*"
arrow = "*"
strictyaml = "*"
fastapi = "*"
pydantic = "*"
sqlmodel = "*"
packaging = "*"
requests-html = "*"

[dev-packages]
pandas = "*"
uvicorn = "*"
mypy = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-tqdm = "*"

[requires]
python_version = "3.11"
