[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
bs4 = "*"
requests = "*"
requests-cache = "*"
python-dateutil = "*"
mypy = "*"
selenium = "*"
webdriver-manager = "*"
ics = "*"
arrow = "*"
strictyaml = "*"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.10"
