[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
bs4 = "*"
requests = "*"
requests-cache = "*"
selenium = "*"
webdriver-manager = "*"
arrow = "*"
fastapi = "*"
pydantic = "*"
sqlmodel = "*"
requests-html = "*"
uvicorn = "*"

[dev-packages]
mypy = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-tqdm = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.11"

[scripts]
serve = "uvicorn main:app --reload"
scrape = "python scrape.py"
